<!DOCTYPE html>
<html lang="en" ng-app="Demo">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-controller="AppController">
    <h1>Timer </h1>
    

    <h1>
        Creating A Reusable Timer In AngularJS
    </h1>

      
    <button ng-click='startTimer()'>Start
    <button ng-click='stopTimer()'>Stop</button>
    <h1>Counter {{counter}} </h1>
    <!-- <p>
        <a ng-click="handleClick()">Click me</a> to star the timer!
    </p>

    <p ng-if="logExecutedAt">
        Executed: {{ logExecutedAt.getTime() }}
    </p> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="main.js"></script>

  </body>
</html>
